body {
    background-image: url(images/Fondo_contacto.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}


form {
    width: 500px;
    margin: auto;
    background: rgba(223, 180, 232, 0.4);
    padding: 40px 30px;
    box-sizing: border-box;
    margin-top: 200px;
    border-radius: 7px;
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px black;
}
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
min-height: 100px;
max-height: 200px;
max-width: 100%;
}
#boton{
    background: rgb(129, 193, 228);
    color: white;
    padding: 20px;
}

.volver{
    color: white;
    padding: 20px;
    cursor: pointer;
    background: rgb(129, 193, 228);

}


#boton:hover {
    cursor: pointer;
}

.back-menu{
    color: white;
    text-decoration: none;


}


@media (max-width:480px){
    form{
        width: 100%;
    }
}